<h2><%= @vocabulary.japanese %></h2>
<hr>
<a href="<%= new_lesson_vocabulary_sentence_path%>" class="btn btn-primary">Add Sentence</a>
<%= link_to("Delete Vocabulary", lesson_vocabulary_path(@lesson, @vocabulary), method: :delete) %>
<hr>
<h3>Sentence</h3>
<div class="list-group">
    <% @vocabulary.sentences.each do |item| %>
        <a href="#" class="list-group-item"> <%= item.content %></a>
    <% end %>
</div>