<p id = "alert"> <%= alert %> </p>
<table>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td>
                    <%= user.email %>
                    <%= user.role %>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>